*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.section1 {
  background-color: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .video-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}
.section1 .video-container .start-video {
  width: 100%;
  height: auto;
}
.section1 .video-container .start-img {
  width: 50%;
}

.loader {
  background: #fff url("/images/PreloadGif.GIF.gif") no-repeat center center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
}

.language-block {
  max-width: 120px;
  width: 100%;
  color: black;
  position: fixed;
  top: 3%;
  left: 91%;
  z-index: 100;
}
.language-block .language-div {
  border: 0px solid white;
  border-radius: 0%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.language-block .language-div .language {
  border: 2px solid white;
  border-radius: 0%;
  padding: 6px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgb(193, 182, 154);
}
.language-block .language-div .language:hover {
  background-color: rgb(220, 213, 195);
}
.language-block .hide-menu-div {
  border: 2px solid white;
  border-radius: 0%;
  padding: 6px;
  background-color: rgb(193, 182, 154);
  text-align: center;
  margin-top: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.language-block .hide-menu-div:hover {
  background-color: rgb(220, 213, 195);
}

.navigation-block {
  position: fixed;
  top: 15%;
  left: 93%;
  z-index: 99;
}
.navigation-block .nav-ul .nav-li {
  border: 5px double white;
  border-radius: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
  background-color: rgb(193, 182, 154);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation-block .nav-ul .nav-li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.volga-salon-container {
  width: 100%;
  position: relative;
}
.volga-salon-container .volga-road-img {
  width: 100%;
}
.volga-salon-container .volga-salon-img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.volga-salon-container .volga-wheel-img {
  position: absolute;
  top: 35%;
  left: 20%;
}
.volga-salon-container .volga-blog-img {
  position: absolute;
  top: 51%;
  left: 67%;
  width: 14%;
}
.volga-salon-container .volga-map-img {
  position: absolute;
  top: 42%;
  left: 43%;
}
.volga-salon-container .volga-clock-img {
  position: absolute;
  top: 53%;
  left: 60%;
  width: 5%;
}
.volga-salon-container .volga-radio-img {
  position: absolute;
  top: 52%;
  left: 44%;
  width: 14%;
}
.volga-salon-container .volga-mirror-img {
  position: absolute;
  top: 10%;
  left: 44%;
}
.volga-salon-container .volga-sticker-img {
  position: absolute;
  top: 40%;
  left: 60%;
}
.volga-salon-container .volga-sit-img {
  position: absolute;
  top: 0%;
  left: 10%;
  display: none;
}

.hidden {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}