*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  all: unset;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
}

.pointerCursor {
  cursor: pointer;
}

.section1 {
  background-color: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .video-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}
.section1 .video-container .start-video {
  width: 100%;
  height: auto;
}
.section1 .video-container .start-img {
  width: 100%;
}
.section1 .video-container .start-img-a {
  cursor: pointer;
  z-index: 100;
  margin-top: 2rem;
}

.loader {
  background: #fff url("/images/PreloadGif.GIF.gif") no-repeat center center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
}

.language-block {
  max-width: 120px;
  width: 100%;
  color: black;
  position: fixed;
  top: 3%;
  left: 91%;
  z-index: 100;
}
.language-block .language-div {
  border: 0px solid white;
  border-radius: 0%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.language-block .language-div .language {
  border: 2px solid white;
  border-radius: 0%;
  padding: 6px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgb(193, 182, 154);
}
.language-block .language-div .language:hover {
  background-color: rgb(220, 213, 195);
}
.language-block .hide-menu-div {
  border: 2px solid white;
  border-radius: 0%;
  padding: 6px;
  background-color: rgb(193, 182, 154);
  text-align: center;
  margin-top: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.language-block .hide-menu-div:hover {
  background-color: rgb(220, 213, 195);
}

.navigation-block {
  position: fixed;
  top: 15%;
  left: 93%;
  z-index: 99;
  overflow: hidden;
}
.navigation-block .nav-ul .nav-li-a {
  border: 5px double white;
  border-radius: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
  background-color: rgb(193, 182, 154);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation-block .nav-ul .nav-li-a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation-block .nav-ul .nav-li-a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-hide {
  -webkit-animation: heigh-reduse 1.5s;
          animation: heigh-reduse 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav-show {
  -webkit-animation: heigh-increase 1.5s;
          animation: heigh-increase 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes heigh-reduse {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes heigh-reduse {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes heigh-increase {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes heigh-increase {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.block-active {
  display: block;
}

.block-none {
  display: none;
}

.volga-salon-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.volga-salon-container .volga-road-img {
  width: 100%;
}
.volga-salon-container .volga-salon-img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.volga-salon-container .volga-wheel-img {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 20%;
}
.volga-salon-container .volga-blog-img {
  position: absolute;
  top: 51%;
  left: 67%;
  width: 14%;
}
.volga-salon-container .volga-map-img {
  position: absolute;
  top: 41%;
  left: 43%;
  width: 10%;
}
.volga-salon-container .volga-clock-img {
  position: absolute;
  top: 52.6%;
  left: 59.9%;
  width: 5%;
}
.volga-salon-container .volga-radio-img {
  position: absolute;
  top: 52%;
  left: 44%;
  width: 14%;
}
.volga-salon-container .volga-mirror-img {
  position: absolute;
  top: 12%;
  left: 42%;
  width: 12%;
}
.volga-salon-container .volga-sticker-img {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 20%;
}
.volga-salon-container .volga-sit-img {
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;
}

.hide {
  display: none;
}

.section3 {
  position: relative;
}
.section3 .pointer {
  -webkit-animation: pointer 1.5s linear infinite;
          animation: pointer 1.5s linear infinite;
  position: absolute;
  cursor: pointer;
}
.section3 .pointer:nth-child(odd) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.section3 .volga-map-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section3 .volga-map-zugdidi-img {
  top: 23.8%;
  left: 31.5%;
}
.section3 .volga-map-batumi-img {
  top: 45%;
  left: 25.4%;
}
.section3 .volga-map-muxrani-img {
  top: 41%;
  left: 60.3%;
}
.section3 .volga-map-tbilisi-img {
  top: 48.2%;
  left: 62%;
}
.section3 .volga-map-rustavi-img {
  top: 54%;
  left: 64.7%;
}
.section3 .volga-map-background-img {
  width: 100%;
}
.section3 .volga-map-background-img img {
  width: 100%;
}
@-webkit-keyframes pointer {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes pointer {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section3 .volga-map-modali {
  padding: 20px 55px;
  background: white;
  z-index: 5;
}
.section3 .volga-map-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  -webkit-animation: videoCard 0.4s;
          animation: videoCard 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes videoCard {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes videoCard {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
.section3 .volga-map-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}
.section3 .volga-map-modal-header-items {
  padding: 12px 30px;
  margin-right: 2px;
  font-size: 1.15rem;
  background: #889ca4;
  cursor: pointer;
}
.section3 .volga-map-modal-header-items-active {
  background: white;
}
.section3 .volga-map-modal-header img {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.section3 .volga-map-modal video {
  width: 650px;
  height: 350px;
  background: black;
}
.section3 .volga-map-modal p {
  padding: 10px 0;
  width: 650px;
  font-size: 0.95em;
}
.section3 .volga-map-modal-zugdidi-pictures .pictures-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section3 .volga-map-modal-zugdidi-pictures .pictures-slider img {
  width: 220px;
  height: 190px;
  margin: 0 10px;
}
.section3 .volga-map-modal-zugdidi-pictures p {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

.section3 {
  height: 100vh;
  position: relative;
  background-image: url(../images/map/map_background.jpg);
  background-position: center;
  background-size: cover;
}
.section3 .pointer {
  -webkit-animation: pointer 1.5s linear infinite;
          animation: pointer 1.5s linear infinite;
  position: absolute;
  cursor: pointer;
}
.section3 .img {
  cursor: pointer;
  width: 210px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 6px;
}
.section3 .volga-map-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section3 .volga-map-zugdidi-img {
  top: 23.8%;
  left: 31.5%;
}
.section3 .volga-map-batumi-img {
  top: 45%;
  left: 25.4%;
}
.section3 .volga-map-muxrani-img {
  top: 41%;
  left: 60.3%;
}
.section3 .volga-map-tbilisi-img {
  top: 48.2%;
  left: 62%;
}
.section3 .volga-map-rustavi-img {
  top: 54%;
  left: 64.7%;
}
@keyframes pointer {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section3 .volga-map-modali {
  padding: 20px 55px;
  background: white;
  z-index: 5;
}
.section3 .volga-map-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section3 .volga-map-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}
.section3 .volga-map-modal-header-items {
  padding: 12px 30px;
  margin-right: 2px;
  font-size: 1.15rem;
  background: #889ca4;
  cursor: pointer;
}
.section3 .volga-map-modal-header-items-active {
  background: white;
}
.section3 .volga-map-modal-header img {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.section3 .volga-map-modal video {
  width: 650px;
  height: 350px;
  background: black;
}
.section3 .volga-map-modal .video-post {
  max-width: 650px;
  width: 100%;
  height: 400px;
}
.section3 .volga-map-modal p {
  padding: 10px 0;
  width: 650px;
  font-size: 0.95em;
}
.section3 .volga-map-modal-zugdidi-pictures .pictures-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section3 .volga-map-modal-zugdidi-pictures .pictures-slider img {
  width: 220px;
  height: 190px;
  margin: 0 10px;
}
.section3 .volga-map-modal-zugdidi-pictures p {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.previous {
  max-width: 50px;
  width: 100%;
  position: absolute;
  top: 35%;
  left: 15%;
  cursor: pointer;
}

.next {
  max-width: 50px;
  width: 100%;
  position: absolute;
  top: 35%;
  right: 15%;
  cursor: pointer;
}

.section4 {
  height: 100vh;
  background-image: url(../images/Timeline/timeline_background.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .timelineFold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section4 .timelineFold .timelineContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  background-color: black;
  opacity: 0.8;
  padding: 1.25rem 1.75rem;
}
.section4 .timelineFold .timelineContainer .prev:active, .section4 .timelineFold .timelineContainer .next1:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.section4 .timelineFold .timelineContainer .timelineText {
  -webkit-box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  height: 150px;
  width: 700px;
  color: black;
  padding: 1.5rem;
}
.section4 .timelineFold .timelineContainer .timelineText p {
  display: none;
  font-family: "Gentium Book Basic", serif;
}
.section4 .timelineFold .timelineContainer .timelineText p:last-child {
  display: block;
}
.section4 .timelineFold .timelineCar {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: auto;
  margin-top: 1.5rem;
  opacity: 0.8;
  padding: 0.5rem 0;
}
.section4 .timelineFold .timelineCar #car {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 50px;
  background-image: url(../images/Timeline/min-volga1.png);
}
.section4 .timelineFold .timelineCar #line {
  height: 10px;
  background-color: #334D51;
  margin: 50px 50px 20px 50px;
}
.section4 .timelineFold .timelineCar #line .butt {
  width: 15px;
  height: 20px;
  float: left;
  position: relative;
  background-color: #6AC5C1;
  margin-left: 50px;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}
.section4 .timelineFold .timelineCar #line .butt:nth-child(1) {
  margin-left: 30px;
}
.section4 .timelineFold .timelineCar #line .butt:hover {
  cursor: pointer;
  height: 30px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.section4 .timelineFold .timelineCar .yearContainer span {
  display: none;
  width: 15px;
  height: 20px;
  float: left;
  position: relative;
  font-size: 14px;
  margin-left: 50px;
}
.section4 .timelineFold .timelineCar .yearContainer span:first-child {
  display: block;
  margin-left: 73px;
}

.section5 {
  height: 100vh;
  background-image: url(../images/Radio/Radio.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.section5 .background-radio {
  height: 630px;
  width: 1000px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background-image: url(../images/Radio/radio_big.png);
}
.section5 .backround-blur-cont {
  width: 1191px;
  height: 658px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}
.section5 .backround-blur-cont .background-radio-blur {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  height: 658px;
  width: 1050px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section5 .backround-blur-cont .radio-buttons {
  height: 200px;
  width: 70px;
  position: absolute;
  top: 35%;
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.section5 .backround-blur-cont .radio-previous {
  background-image: url(../images/Radio/previous.png);
  left: 0;
}
.section5 .backround-blur-cont .radio-next {
  background-image: url(../images/Radio/next.png);
  right: 1px;
}
.section5 .backround-blur-cont .background-white-blur {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 366px;
  width: 952px;
  background-color: white;
  opacity: 0.6;
}
.section5 .radio-singer-info {
  padding: 5px 40px;
  height: 340px;
  width: 770px;
  background-color: white;
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  top: 39%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Gentium Book Basic", serif;
}
.section5 .radio-singer-info .radio-singer-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 216px;
}
.section5 .radio-singer-info .radio-singer-upper .singer-image {
  background-image: url(../images/Radio/singer_big/1.jpg);
  height: 200px;
  width: 170px;
  float: left;
  margin: 10px 15px 0 0;
}
.section5 .radio-singer-info .radio-singer-upper .singer-about {
  width: 550px;
}
.section5 .radio-singer-info .radio-singer-upper .singer-about .singer-name {
  font-size: 31px;
  color: #394f5a;
}
.section5 .radio-singer-info .radio-singer-upper .singer-about .singer-info {
  font-size: 16px;
  color: #394f5a;
}
.section5 .radio-singer-info .radio-singer-lower {
  margin-top: 20px;
}
.section5 .radio-singer-info .radio-singer-lower .radio-music {
  width: 688px;
  height: 28px;
  margin-bottom: 3px;
  background-color: #819CA5;
  padding-left: 7px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.section5 .radio-player-wrapper {
  font-family: "Gentium Book Basic", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70px;
  width: 300px;
  background-color: white;
  z-index: 2;
  font-size: 13px;
  color: #394f5a;
}

.hidden {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.floating {
  -webkit-animation: floating 1.1s ease-in-out infinite;
          animation: floating 1.1s ease-in-out infinite;
}

@-webkit-keyframes floating {
  0%, 100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  0%, 100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}