.hidden {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.floating {
    animation: floating 1.1s ease-in-out infinite;
}
@keyframes floating {
    0%, 100% { transform: translateY(-20px); }
    50% { transform: translateY(0); }
  }

//   Timeline animation
  .upanimation {
    animation: up 0.2s ease-out;
  }
  @keyframes up {
    0% { transform: translateY(80px); }
    100% { transform: translateY(0); }
  }

.heightUp {
  animation: heightUp 2.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes heightUp {
  0% {height: 0};
  100% {height: 475px}
}