html {
    scroll-behavior: smooth;
}


.section1 {
    background-color: $color01;
    height: 100vh;
    @include d-flex(flex, center, center);

    .video-container {
        flex-direction: column;
        @include d-flex(flex, center, center);
        width: 500px;

        .start-video {
            width: 100%;
            height: auto;
        }
        .start-img {
            width: 100%;
        }
    }
}

.loader{
    background: #fff url('/images/PreloadGif.GIF.gif') no-repeat center center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
}

.language-block{
    max-width: 120px;
    width: 100%;
    color: $color01;
    @include position-property(fixed, 3%, 91%);
    z-index: 100;
    .language-div{
        @include border-shape(0px solid white, 0%, 0px); 
        @include d-flex(flex, space-between, center);
        .language{
            @include border-shape(2px solid white, 0%, 6px);
            cursor: pointer;
            transition: 0.3s;
            background-color: $color03;
        }
        .language:hover{
            background-color: $color04;
        }
    }
    .hide-menu-div{
        @include border-shape(2px solid white, 0%, 6px);
        background-color: $color03;
        text-align: center;
        margin-top: 4px;
        cursor: pointer;
        transition: 0.3s;
    }
    .hide-menu-div:hover{
        background-color: $color04;
    }
}

//  navogation bar
.navigation-block{
    @include position-property(fixed, 15%, 93%);
    z-index: 99;
    overflow: hidden;
    .nav-ul{
        .nav-li-a{
            @include border-shape(5px double white, 50%, 20px );
            @include d-flex(flex, center, center);
            margin-bottom: 10px;
            color: $color01;
            cursor: pointer;
            background-color: $color03;
            transform: scale(0.8);
            transition: 0.3s;
        }
    }
}
// nav-a-tag
        .nav-li-a:hover{
            transform: scale(1.1);
        
        .nav-li:hover{
            transform: scale(1);
        }
    }

// height of navigation animations
.nav-hide {
    animation: heigh-reduse 3s;
    animation-fill-mode: forwards;
}
.nav-show {
    animation: heigh-increase 3s;
    animation-fill-mode: forwards;
}

@include animation-mixin(heigh-reduse, 100%, 0%);

@include animation-mixin(heigh-increase, 0%, 100%);
  




// section 2 volga salon
.volga-salon-container{
    width: 100%;
    position: relative;

    .volga-road-img{
        width: 100%;
    }
    .volga-salon-img{
        @include position-property(absolute, 0%,  0%);
        width: 100%;
    }
    .volga-wheel-img{
        @include position-property(absolute, 35%, 20%);
    }
    .volga-blog-img{
        @include position-property(absolute, 51%, 67%);
        width: 14%;
    }
    .volga-map-img{
        @include position-property(absolute, 42%, 43%);
    }
    .volga-clock-img{
        @include position-property(absolute, 53%, 60%);
        width: 5%;
    }
    .volga-radio-img{
        @include position-property(absolute, 52%, 44%);
        width: 14%;
    }
    .volga-mirror-img{
        @include position-property(absolute, 10%, 44%);
    }
    .volga-sticker-img{
        @include position-property(absolute, 40%, 60%);
    }
    .volga-sit-img{
        @include position-property(absolute, 0%, 10%);
        display: none;
    }
}
.hide{
    display: none;
}
.section3{
    position: relative;
    .pointer{
        animation:pointer 1.5s linear infinite;
        position: absolute;
        cursor: pointer;
    }
    .volga-map{
        &-wrapper{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        &-zugdidi-img{
            top:23.8%;
            left:31.5%;
        }
        &-batumi-img{
            top:45%;
            left:25.4%;
        }&-muxrani-img{
            top:41%;
            left:60.3%;
        }&-tbilisi-img{
            top:48.2%;
            left:62%;
        }&-rustavi-img{
            top:54%;
            left:64.7%;
        }
        &-background-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        @keyframes pointer {
            0%{
                transform:translateY(0);
              }
            50% {
                transform:translateY(-10%);
              }
            100% {
                transform:translateY(0);
            }

        }
        &-modali{
            padding: 20px 55px;
            background: white;
            z-index: 5;
        }
        &-modal{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            &-header{
                display: flex;
                z-index: 3;
                &-items{
                    padding: 12px 30px;
                    margin-right: 2px;
                    font-size:1.15rem;
                    background: #889ca4;
                    cursor: pointer;
                    &-active{
                        background: white;
                    }
                }
                img{
                    position: absolute;
                    top:0;
                    right: 0;
                    cursor: pointer;
                }
            }
            video{
                width: 650px;
                height: 350px;
                background: black;
            }
            p{
                padding: 10px 0;
                width: 650px;
                font-size:0.95em;
            }
            &-zugdidi-pictures{
                .pictures-slider{
                    display: flex;
                    img{
                        width: 220px;
                        height: 190px;
                        margin:0 10px
                    }
                }
                p{
                    max-width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}


